.about {
  max-width: 950px;
  margin: 0 auto;
  img {
    border-radius: $border-radius;
  }
  .about__content {
    .about__play {
      position: relative;
      .about__btnplay {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        transition: 0.3s ease-in-out;
        animation: ripple 1s linear infinite;
        border-radius: 50%;
        i {
          color: $primary-color;
          background-color: $bg-color;
          display: inline-block;
          width: 55px;
          height: 55px;
          border-radius: 50%;
          line-height: 55px;
        }
      }
      .about__btnplay:hover {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%) scale(1.1);
        transition: 0.3s ease-in-out;
      }
    }
  }
}
