.pricing {
    background-color: $bg-light;
    .pricing_info{
        .txt_subtittle{
            text-transform: capitalize;
            font-weight: 600;
            font-size: 25px;
            margin-bottom: 10px;
        }
    }
}