$primary-color: #189a46;
$secondary-color: #f53626;
$font-color: #696969;
$color-white: #ffffff;
$bg-color: #fff;
$heading-color: #000c04;
$border-radius: 10px;
$border-color: #ddd;
$border-light: #f0f3f0;
$nav-color: #292922;
$dropdown-color: #fff;
$bg-light: rgba(147, 107, 232, 0.05);
$iframe-filter: grayscale(0%);
$widget-bg: #3f3a64;
